@import '../util.scss';

.modal-container {
	background: rgba(0, 0, 0, 0.644);
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 90vh;
	z-index: 100;

	&-elem {
		display: flex;
		justify-content: space-between;
		margin: 4rem;
		padding: 1rem 3rem;
		border-radius: 15px;
		background: $color-secondary;
		color: $color-bg;

		&-left {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 90vh;

			a {
				color: $color-bg !important;
				font-size: 2rem;
				margin: 3rem 0;
				text-decoration: none !important;

				span:hover {
					color: $color-primary !important;
				}
			}
			.box {
				height: 100%;
			}
			.box {
				display: block;
				overflow-y: scroll;
				height: 100%;
				img {
					width: 100%;
				}
			}
		}
		h2:hover {
			color: $color-primary;
		}
	}
}
