// @import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap.scss';

@import '../util.scss';

body {
	margin: 0;
	padding: 0;
}
.heading {
	font-family: $font-primary;
	font-weight: 600;
	font-size: 6rem;
	margin: 10rem 0 5rem 10rem;
	padding-left: 5rem;
	position: relative;
	text-shadow: 0 0px 4px $color-primary;

	&::before {
		position: absolute;
		top: 50%;
		left: -50px;
		width: 50px;
		height: 3px;
		margin-left: 4.5rem;
		background: $color-primary;
		content: '';
	}
}
/* ------------------------------ Hero section ------------------------------ */
.hero {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	&_wrapper {
		height: 90vh;
		padding: 0 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@media screen and (max-width: 1367px) {
			padding: 0;
		}
	}

	&-greeting {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 10rem;
		margin: 10rem 0 2rem 10rem;
		padding-left: 5rem;
		position: relative;
		text-shadow: 0 0px 4px $color-primary;

		@media screen and (max-width: 1367px) {
			margin: 10rem 0 2rem 5rem;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: -50px;
			width: 50px;
			height: 3px;
			margin-left: 4.5rem;
			background: $color-primary;
			content: '';
		}
	}
	&-about {
		font-size: 2.5rem;
		width: 51ch;
		font-family: $font-secondary;
		font-weight: 300;
		margin: 0 0 2rem 10rem;

		&__name {
			font-size: 3.5rem;
			color: $color-primary;
		}
		@media screen and (max-width: 1367px) {
			width: 45ch;
			margin-left: 7rem;
		}
		@media screen and (max-width: 700px) {
			width: 25ch;
			margin-left: 7rem;
		}
	}
	&-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 16rem;
		font-size: 3rem;
		margin: 5rem 0 2rem 10rem;

		svg {
			color: $color-secondary;
		}

		svg:hover {
			transform: scale(1.1);
			transition: transform 250ms, opacity 400ms;
			color: $color-primary;
		}
		@media screen and (max-width: 1367px) {
			margin: 5rem 0 2rem 7rem;
		}
	}
	&-contact {
		align-self: center;

		li {
			font-size: 1.8rem !important;
		}
		@media screen and (max-width: 900px) {
			display: none !important;
		}
	}
}

.scroll-down {
	position: absolute;
	right: -20px;
	bottom: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	font-size: 14px;
}
.scroll-down--left {
	left: -30px;
	right: auto;
}

@keyframes scroll {
	0% {
		transform: translateX(-7px);
	}
	100% {
		transform: translateX(7px);
	}
}
.scroll-down svg {
	margin-left: 10px;
	animation: scroll 0.5s linear infinite alternate-reverse;
	font-size: 2.5rem;
}

/* -------------------------------- Portfolio Section ------------------------------- */

.portfolio {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;

	&-flex {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 15px;
		padding: 0px 1rem;
		justify-items: center;
		align-items: center;
		// for responsive
		@media (max-width: 1000px) {
			grid-template-columns: 1fr;
			padding: 0px 10rem;
			grid-gap: 25px;
		}
		@media screen and (max-width: 1367px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
		@media screen and (max-width: 700px) {
			grid-template-columns: 1fr;
			padding: 0px 5rem;
		}

		&__elem {
			width: 100%;
			height: 35rem;
			position: relative;
			overflow: hidden;

			img {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				transition: opacity 0.5s, -webkit-transform 0.4s;
				transition: transform 0.4s, opacity 0.5s;

				&:hover {
					transform: scale(1.18);
				}
			}
		}
	}
	ul {
		text-decoration: none;
	}
	.mg-r {
		margin-right: 0 !important;
		@media screen and (max-width: 500px){
			margin-left: 7rem !important;

		}
	}
}

/* ------------------------------ Skill Section ----------------------------- */

.skills {
	display: flex;
	flex-direction: column;
	padding: 0 5rem;
	.mg-b {
		margin-bottom: 0 !important;
	}
	&-heading {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 6rem;
		margin: 10rem 0 2rem 10rem;
		padding-left: 5rem;
		margin-bottom: 5rem;
		position: relative;
		text-shadow: 0 0px 4px $color-primary;

		&::before {
			position: absolute;
			top: 50%;
			left: -50px;
			width: 50px;
			height: 3px;
			margin-left: 4.5rem;
			background: $color-primary;
			content: '';
		}
	}
}
