@import '../util.scss';

body {
	cursor: none !important;
	margin: 0;
	padding: 0;
}

/* ------------------------------ Hero section ------------------------------ */
.hero {
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;

	&_wrapper {
		height: 90vh;
		padding: 0 5rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	&-greeting {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 10rem;
		margin: 10rem 0 2rem 10rem;
		padding-left: 5rem;
		position: relative;
		text-shadow: 0 0px 4px $color-primary;

		&::before {
			position: absolute;
			top: 50%;
			left: -50px;
			width: 50px;
			height: 3px;
			margin-left: 4.5rem;
			background: $color-primary;
			content: '';
		}
	}
	&-about {
		font-size: 2.5rem;
		width: 51ch;
		font-family: $font-secondary;
		font-weight: 300;
		margin: 0 0 2rem 10rem;

		&__name {
			font-size: 3.5rem;
			color: $color-primary;
		}
	}
	&-icons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 14rem;
		font-size: 3rem;
		margin: 5rem 0 2rem 10rem;
		svg {
			color: $color-secondary;
		}

		svg:hover {
			transform: scale(1.2);
			transition: transform 250ms, opacity 400ms;
			color: $color-primary;
		}
	}
	&-contact {
		align-self: center;

		li {
			font-size: 1.5rem !important;
		}
	}
}

.scroll-down {
	position: absolute;
	right: -20px;
	bottom: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	transform: rotate(90deg);
	font-size: 14px;
}
.scroll-down--left {
	left: -30px;
	right: auto;
}

@keyframes scroll {
	0% {
		transform: translateX(-7px);
	}
	100% {
		transform: translateX(7px);
	}
}
.scroll-down svg {
	margin-left: 10px;
	animation: scroll 0.5s linear infinite alternate-reverse;
	font-size: 2.5rem;
}

/* -------------------------------- Portfolio Section ------------------------------- */

.portfolio {
	display: flex;
	flex-direction: column;
	padding: 0 5rem;
	&-heading {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 6rem;
		margin: 10rem 0 2rem 10rem;
		padding-left: 5rem;
		position: relative;
		text-shadow: 0 0px 4px $color-primary;

		&::before {
			position: absolute;
			top: 50%;
			left: -50px;
			width: 50px;
			height: 3px;
			margin-left: 4.5rem;
			background: $color-primary;
			content: '';
		}
	}
	&-flex {
		display: flex;
		flex-wrap: wrap;
		padding: 5rem;
		height: 90vh;

		&__elem {
			width: 25%;
			position: relative;
			overflow: hidden;

			img {
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				transition: opacity 0.5s, -webkit-transform 0.4s;
				transition: transform 0.4s, opacity 0.5s;

				&:hover {
					transform: scale(1.3);
				}
			}
		}
	}
	ul {
		text-decoration: none;
	}
}

/* ------------------------------ Skill Section ----------------------------- */

.skills {
	display: flex;
	flex-direction: column;
	padding: 0 5rem;
	&-heading {
		font-family: $font-primary;
		font-weight: 600;
		font-size: 6rem;
		margin: 10rem 0 2rem 10rem;
		padding-left: 5rem;
		margin-bottom: 5rem;
		position: relative;
		text-shadow: 0 0px 4px $color-primary;

		&::before {
			position: absolute;
			top: 50%;
			left: -50px;
			width: 50px;
			height: 3px;
			margin-left: 4.5rem;
			background: $color-primary;
			content: '';
		}
	}
}
