@import url(https://fonts.googleapis.com/css?family=Duru+Sans|Architects+Daughter);

$peach: #ffa894;
$teal: #67cecd;
$lime: #eaef91;
p {
	font-size: 1.25rem;
}
h3 {
	font-size: 2rem;
	font-weight: 400;
}
#skill-section {
	// width: 100%;
	height: auto;
	padding: 0 10rem 10rem 10rem;
	@media screen and (max-width: 1000px) {
		padding: 0;
	}
}
.header {
	width: 100%;
	margin-bottom: 7rem;
	display: grid;
	place-items: center;
	text-align: center;
	@media (max-width: 1000px) {
		margin-top: 2rem;
		margin-bottom: 5rem;
	}
}

.skill {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 5rem;
	grid-row-gap: 2rem;
	@media (max-width: 1000px) {
		width: 90%;
		grid-template-columns: 1fr;
		margin: auto;
		grid-gap: 5rem;
	}
	.skill-bar {
		

		.info {
			display: flex;
			justify-content: space-between;
			padding: 0 1rem;
			.percent {
				font-weight: bold;
			}
		}
		.bar {
			width: 100%;
			height: 1rem;
			position: relative;
			background-color: rgba(0, 0, 0, 0.199);
			border-radius: 2.5rem;
			margin-top: 0.5rem;
		}
	}
}
.skill-bar span {
	width: 50%;
	height: 100%;
	position: absolute;
	background-color: $teal;
	border-radius: 2.5rem;
}

/* ----------------------------------- 90% ---------------------------------- */

.skill-bar .bar .javascript {
	width: 90%;
	animation: javascript 3s;
}

@keyframes javascript {
	0% {
		width: 0;
	}
	100% {
		width: 90%;
	}
}
/* ----------------------------------- 95% ---------------------------------- */
.skill-bar .bar .html {
	width: 95%;
	animation: html 3s;
}

@keyframes html {
	0% {
		width: 0;
	}
	100% {
		width: 95%;
	}
}
/* ----------------------------------- 85% ---------------------------------- */
.skill-bar .bar .react {
	width: 85%;
	animation: react 3s;
}

@keyframes react {
	0% {
		width: 0;
	}
	100% {
		width: 85%;
	}
}
/* ----------------------------------- 85% ---------------------------------- */
.skill-bar .bar .nodejs {
	width: 80%;
	animation: nodejs 3s;
}

@keyframes nodejs {
	0% {
		width: 0;
	}
	100% {
		width: 80%;
	}
}
