@import '../util.scss';

nav {
	display: flex;
	justify-content: space-between;
    padding: 0 5rem;
    
	.brand-logo {
		font-family: $font-logo;
		font-size: 5rem;
		color: $color-primary;
	}
	.nav-list {
		display: flex;
		list-style: none;

		&__elem {
			font-size: 1.6rem;
			margin: 2rem 3rem;

            &:hover{
                color: $color-primary;
				transform: scale(1.2);
				transition: transform .2s ease-in-out;
            }
        }

	}
}
