@import '../util.scss';

.nav {
	display: flex;
	justify-content: space-between;
	padding: 0 5rem;

	.brand-logo {
		font-family: $font-logo;
		font-size: 5rem;
		color: $color-primary;
		padding-top: 1rem;
	}
	.nav-list {
		display: flex;
		list-style: none;

		&__elem {
			font-size: 1.6rem;
			margin: 2rem 3rem;

			&:hover {
				color: $color-primary;
				transform: scale(1.2);
				transition: transform 0.2s ease-in-out;
			}
		}
	}

	@media screen and (max-width: 900px) {
		display: none !important;
	}
}

// hamnav css

.hamnav {
	display: none;
	color: white;
	@media screen and (max-width: 900px) {
		display: block;
	}

	// &__checkbox {
	// 	display: none;
	// 	height: 6rem;
	// 	width: 6rem;
	// }

	// &__button {
	// 	background-color: #f3efde;
	// 	height: 6rem;
	// 	width: 6rem;
	// 	border-radius: 50%;
	// 	position: fixed;
	// 	top: 5rem;
	// 	right: 6rem;
	// 	z-index: 2000;
	// 	box-shadow: 0 1rem 3rem rgba(#000, 0.2);
	// 	text-align: center;
	// 	cursor: pointer;
	// }

	// &__background {
	// 	height: 3.5rem;
	// 	width: 4rem;
	// 	border-radius: 50%;
	// 	position: fixed;
	// 	top: 5.5rem;
	// 	right: 7.5rem;
	// 	background-image: radial-gradient(#8d6b519d, #7c451be1);
	// 	z-index: 1000;
	// 	transition: transform 0.8s;
	// }

	// &__nav-ham {
	// 	height: 100vh;
	// 	width: 0;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;
	// 	z-index: 1500;
	// 	opacity: 0;
	// 	transition: all 0.8s cubic-bezier(0.86, -0.55, 0.265, 1.55);
	// }

	// &__list {
	// 	position: absolute;
	// 	top: 50%;
	// 	left: 50%;
	// 	transform: translate(-50%, -50%);
	// 	list-style: none;
	// 	text-align: center;
	// }

	// &__item {
	// 	margin: 1rem;
	// }

	// &__link {
	// 	&:link,
	// 	&:visited {
	// 		display: inline-block;
	// 		text-decoration: none;
	// 		padding: 1rem;
	// 		font-size: 2rem;
	// 		font-weight: 300;
	// 		color: #f3efde;
	// 		text-transform: uppercase;
	// 		background-image: linear-gradient(
	// 			120deg,
	// 			transparent 0%,
	// 			transparent 50%,
	// 			#f3efde 50%
	// 		);
	// 		background-size: 250%;
	// 		transition: all 0.4s;
	// 		@media screen and (max-width: 500px) {
	// 			font-size: 5rem;
	// 		}
	// 	}

	// 	&:hover,
	// 	&:active {
	// 		background-position: 100%;
	// 		color: #8d6b51cb;
	// 		transform: translateX(1rem);
	// 	}
	// }

	// &__checkbox:checked ~ &__background {
	// 	transform: scale(80);
	// }

	// &__checkbox:checked ~ &__nav-ham {
	// 	opacity: 1;
	// 	width: 100%;
	// }

	// &__icon {
	// 	position: relative;
	// 	margin-top: 2.5rem;

	// 	&,
	// 	&::before,
	// 	&::after {
	// 		width: 3rem;
	// 		height: 2px;
	// 		background-color: #8d6b51cb;
	// 		display: inline-block;
	// 		transition: all 0.2s;
	// 	}

	// 	&::before,
	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		left: 0;
	// 	}

	// 	&::before {
	// 		top: -0.8rem;
	// 	}

	// 	&::after {
	// 		top: 0.8rem;
	// 	}
	// }

	// &__button:hover &__icon::before {
	// 	top: -1rem;
	// }

	// &__button:hover &__icon::after {
	// 	top: 1rem;
	// }

	// &__checkbox:checked + &__button &__icon {
	// 	background-color: transparent;

	// 	&::before {
	// 		transform: rotate(135deg);
	// 		top: 0rem;
	// 	}

	// 	&::after {
	// 		transform: rotate(-135deg);
	// 		top: 0rem;
	// 	}
	// }
}
